.newsletter{
    @include flex(center, center);
    flex-direction: column;
    padding: 11rem 2rem;

    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center
    }

    &__email{
        @include flex(center, space-between);
        width: 50%;
        height: 40px;
        background-color: #fff;

        @include tablet{
            width: 80%;
        }

        @include mobile{
            width: 100%;
        }


        input{
            width: 100%;
            margin: 0 2rem;
            font-size: 1.25rem;
        }
        button{
            background-color: $green;
            color: #fff;
            height: 100%;
            width: 7rem;
            font-size: 1.75rem;
            cursor: pointer;
        }
    }
}