$colors:(
    "green": rgb(104,164,152),
    "darkgreen": rgb(12,127,109),
    "black": #010606,
    "white": #fff,
    "pink": rgb(242,227,224),
    "yellow": rgb(255,216,0),
    "orange": rgb(255,146,0),
    "blue": #1da1f2,


    // "light-blue": rgb(246,250,253),
    // "red": rgb(201,29,67),
    // "light-orange": rgb(252,241,237),
    // "light-pink": rgb(251,239,244),
);
$green: rgb(12,127,109);

$mobile-width: 600px;
$mobile-small-width: 450px;
$tablet-width:1024px;
$tablet-small-width:768px;


$box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;

$numbers:(0,1,2,3,4,5,6);